.activitiesSidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 30%;
  max-width: 25rem;
  background-color: #3E418B;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
  height: 96%;
  color: whitesmoke;
  flex-grow: 1;
}