.activityList {
  width: 24%;
  overflow-y: scroll;
  margin-bottom: 1rem;
  position: relative;
  background-color: whitesmoke;
  padding-left: .5rem;
  padding-right: .5rem;
}

.listItems {
  position: relative;
}