.btnWithImg {
  display: flex;
  flex-direction: row;
  height: 2rem;
  padding: .3rem;
  padding-right: .5rem;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  border: none;
  border-radius: .25rem;
}

.btnWithImg:nth-child(even) {
  margin-top: .4rem;
}

.googleSignIn {
  background-color: #4285F4;
}

.facebookSignIn {
  background-color: #5890FF;
}

.btnImg {
  width: 2rem;
  aspect-ratio: 1;
}

.btnTitle {
  margin-left: .25rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: white;
  outline: none;
  font-size: 100%;
  text-decoration: none;
}

.btnWithImg:hover {
  cursor: pointer;
  transform: scale(1.01) perspective(1px);
}