.btnWithImg {
  display: flex;
  flex-direction: row;
  height: 2rem;
  padding: .3rem;
  justify-content: center;
  align-items: center;
}

.btnImg {
  padding-right: 10px;
}

.btnTitle {
  margin-left: .25rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}