.card {
  background-color: #292C35;
  color: whitesmoke;
  border-radius: .25rem;
  padding: .5rem;
  margin-top: .25rem;
  margin-bottom: .25rem;
}

.card:hover {
  border-left: solid .4rem #E09145;
  border-bottom-left-radius: .25rem;
  border-top-left-radius: .25rem;
  cursor: pointer;
}

.selectedCard {
  border-left: solid .4rem #E09145;
  border-bottom-left-radius: .25rem;
  border-top-left-radius: .25rem;
  /* background: linear-gradient(to right top, #EF5D3E,50%, #F6A143); */
  background-color: #17181D;
  color: white;
}