.card {
  background-color: #3C3F88;
  /* border-radius: .25rem; */
  padding: .5rem;
  /* margin-top: .25rem;
  margin-bottom: .25rem; */
}

.card:hover {
  border-left-style: solid;
  border-width: .25rem;
  border-left-color: #6ED6D7;
}

.selectedCard {
  background-color: #36397E;
  border-left: solid .25rem #6ED6D7;
}