.inAppNav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 10%;
  margin-right: .25rem;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}