.sidebarNavItem {
  font-size: 1.5rem;
  width: 100%;
  padding: .25rem;
  box-sizing: border-box;
  position: relative;
}

.sidebarNavItem:hover {
  border-right: solid .25rem #173E59;
  cursor: pointer;
}

.sidebarNavItem h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sidebarNavItem:hover h3 {
  box-shadow: none;
  border-right: none;
}

.sidebarNavItem span {
  width: 100%;
}

.activitiesSelected {
  border-right: solid .25rem black;
}

.tooltip {
  display: none;
  border-radius: .25rem;
  background-color: lightblue;
  position: absolute;
  top: 0;
  left: 105%;
  width: fit-content;
  height: 80%;
  font-size: small;
}


.sidebarNavItem:hover .tooltip {
  display: block;
  z-index: 1;
}

.addActivityButton {

}

.addActivityButton:hover {
  background-color: #173E59;
}