.sidebarNavItem {
  font-size: 1.5rem;
  width: 50%;
  padding: .25rem;
  box-sizing: border-box;
}

.sidebarNavItem:hover {
  border-bottom: solid .25rem #173E59;
}

.sidebarNavItem h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sidebarNavItem:hover h3 {
  box-shadow: none;
  border-bottom: none;
}

.sidebarNavItem span {
  width: 100%;
}

.sidebarNavItem:nth-child(1) {
  border-top-left-radius: .25rem;
}

.sidebarNavItem:nth-child(2) {
  border-top-right-radius: .25rem;
}

.activitiesSelected {
  border-bottom: solid .25rem black;
}