.sidebarNavItem {
  font-size: 1.5rem;
  width: 100%;
  aspect-ratio: 1;
  padding: .25rem;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
}

/* change this to grow and rotate the icon inside when hovered */
.sidebarNavItem:hover {
  /* border-right: solid .25rem #173E59; */
  color: whitesmoke;
  cursor: pointer;
}

.sidebarNavItem h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sidebarNavItem:hover h3 {
  box-shadow: none;
  border-right: none;
}

.sidebarNavItem span {
  width: 100%;
}

.activitiesSelected {
  /* background: linear-gradient(to right top, #323576,5%, #31A2A5); */
  background-color: #17181d;
}

.tooltip {
  display: none;
  border-radius: .25rem;
  background-color: #3D4043;
  position: absolute;
  top: 30%;
  left: 105%;
  width: fit-content;
  height: 40%;
  font-size: small;
  padding: .5rem;
  color: white;
}

.sidebarNavItem:first-of-type {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.sidebarNavItem:nth-child(2) {
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.sidebarNavItem:hover .tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.addActivityButton {
  border-radius: .25rem;

}

.addActivityButton:hover {
  background-color: #17181d;
}