.auth {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
}

.authOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}

.authOptions a:nth-child(even) {
  margin-left: 1rem;
}