.waypointsList {
  display: flex;
  position: absolute;
  top: 0rem;
  right: 0rem;
  flex-direction: column;
  z-index: 1;
  padding: .5rem;
  background-color: rgba(255,255,255,0.6);
  border-radius: .25rem;
  height: fit-content;
  width: fit-content;
  max-width: 18rem;
  max-height: 50%;
  margin-right: .5rem;
  margin-top: .5rem;
  overflow-y: scroll;
}